.TicketTableDiv {

    button {
        min-width: 0px;
        margin-left: 0px;
    }

    .TicketTable {
        border: 2px solid white;

        & th {
            background_old: #ffe6eb;
            background: #F4D93F;
            border: 2px solid white;
            padding: 4px;
        }

        & td {
            background_old: #eff6fc;
            border: 2px solid white;
            padding: 4px;
            border-radius: 4px
        }

        & td.free {
            align-content: center;
        }

        & td.ordered {
            padding: 2px;
            align-content: center;
        }
    }

    .BookingTable {
        & td {
            background: #fff4e3;
            border: 1px solid white;
            padding: 4px;
        }
    }

    .MessageBar {
        max-width: 600px;
        margin-bottom: 20px;
        border-radius: 4px
    }

    .CommonButton {
        margin: 0px;
        padding: 4px;
        min-width: 0px;
        border-radius: 4px;
    }

    .OrderButton {
        background_old: #c7e0f4;
        background: #3399cc;
    }

    .DelButton {
        background: red;
        color: white;
    }

    .RowErrorButton {
        color: red;
        margin: 0px;
        padding: 4px;
        min-width: 0px;
        border-radius: 4px;
    }

    .TicketTableCallout {

        .BookingTable {
            border: 2px solid white;

            & td {
                padding: 2px;
            }
        }

        .DelButton {
            margin: 0px;
            padding: 4px;
            min-width: 0px;
            border-radius: 4px;
            background: red;
            color: white;
        }
    }
}

.Pointer {
    cursor: pointer;
}

.ms-DatePicker button {
    min-width: 0px;
    margin-left: 0px;
}

.ms-Panel button {
    min-width: 0px;
    margin-left: 0px;
}

.ms-Panel-content {
    max-height: 100%;
}
